<div class="page-header">
  <h1><%= book.escape('title') %> <small><%= book.escape('author') %></small></h1>
</div>
<div class="row">
  <div class="col-xs-4">
    <img src="<%= book.escape('image_url') %>"/>
    <div id="rating"></div>
    <br/>
    <p><b>GoodReads Rating: </b><%= book.escape('rating') %> <em>(<%= book.escape('ratings_count') %> ratings)</em></p>
    <form id="add-to-lists">
      <label for="list-selector">Add to List</label>
      <select id="list-selector">
        <option value=""></option>
        <option id="wish" value="wish">Wish List</option>
        <option id="current" value="current">Currently Reading</option>
        <option id="read" value="read">All Finished</option>
      </select>
    </form>
  </div>

  <div class="col-xs-8">
    <table class="table table-bordered">
      <tr>
        <td>Title:</td>
        <td><%= book.escape('title') %></td>
      </tr>
      <tr>
        <td>ISBN Number:</td>
        <td><%= book.escape('isbn') %></td>
      </tr>
      <tr>
        <td>Author:</td>
        <td><%= book.escape('author') %></td>
      </tr>
      <tr>
        <td>Genre:</td>
        <td><%= book.escape('genre') %></td>
      </tr>
      <tr>
        <td>Year of Publication:</td>
        <td><%= book.escape('pub_year') %></td>
      </tr>
      <tr>
        <td>Number of Pages:</td>
        <td><%= book.escape('num_pages') %></td>
      </tr>
      <tr>
        <td>Reading Level:</td>
        <td><%= book.escape('reading_level') %></td>
      </tr>
    </table>
  </div>
</div>

<!-- Displaying all reviews -->

<div class="row">
  <h4>Reviews <button id="new-review-button" data-toggle="modal" data-target="#new-review-modal" class="btn btn-primary">Write Review</button></h4>
  <table id="reviews_table" class="table table-striped">
    <% book.reviews().each( function(review) { %>
      <tr>
        <td> 
          <% if(review.get('user_id') == KR.currentUserID) { %>
            <p><em>You said:</em></p>
          <% } else { %>
          <p><em><%= review.escape('username') %> said:</em></p>
          <% } %>
          <% if(review.get('rating')) { %>
            <p><b><%= review.escape('rating') %> Stars</b></p> 
          <% } %>
          <p><%= review.escape('content') %></p>
        </td>
      </tr>
    <% }); %>
  </table>
</div>

<!-- Review Modal -->

<div id="new-review-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= book.escape('title')%></h4>
      </div>
      <div id="new-review-modal-body" class="modal-body">
        <form id="new-review-form">
          <div class="form-group">
            <label for="content">My Review</label>
            <textarea name="content" rows="10" cols="90" placeholder="ex: This book has great characters and is fun to read."></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="new-review-submit" class="btn btn-primary">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->