<h1><%= book.escape('title') %>, by <%= book.escape('author') %></h1>
<div class="row">
  <div class="col-xs-4">
    <img src="<%= book.escape('image_url') %>"/>
    <div id="rating"></div>
    <br/>
    <p><b>GoodReads Rating: </b><%= book.escape('rating') %> <em>(<%= book.escape('ratings_count') %> ratings)</em></p>
    <form id="add-to-lists">
      <label for="list-selector">Add to List</label>
      <select id="list-selector">
        <option value=""></option>
        <option id="wish" value="wish">Wish List</option>
        <option id="current" value="current">Currently Reading</option>
        <option id="read" value="read">All Finished</option>
      </select>
    </form>
  </div>

  <div class="col-xs-8">
    <table class="table table-bordered">
      <tr>
        <td>
          Title:
        </td>
        <td>
          <%= book.escape('title') %>
        </td>
      </tr>
      <tr>
        <td>
          ISBN Number:
        </td>
        <td>
          <%= book.escape('isbn') %>
        </td>
      </tr>
      <tr>
        <td>
          Author:
        </td>
        <td>
          <%= book.escape('author') %>
        </td>
      </tr>
      <tr>
        <td>
          Genre:
        </td>
        <td>
          <%= book.escape('genre') %>
        </td>
      </tr>
      <tr>
        <td>
          Year of Publication:
        </td>
        <td>
          <%= book.escape('pub_year') %>
        </td>
      </tr>
      <tr>
        <td>
          Number of Pages:
        </td>
        <td>
          <%= book.escape('num_pages') %>
        </td>
      </tr>
      <tr>
        <td>
          Reading Level:
        </td>
        <td>
          <%= book.escape('reading_level') %>
        </td>
      </tr>

    </table>

  </div>
</div>

<div class="row">
  <h4>Reviews</h4>
  <table id="reviews_table" class="table table-bordered">
    <% book.reviews().each( function(review) { %>
      <tr>
        <td> 
          <p><em><%= review.escape('username') %> said on <%= review.escape('date') %>:</em></p>
          <p><%= review.escape('rating') %> Stars</p>
          <p><%= review.escape('review') %></p>
        </td>
      </tr>
    <% }); %>
  </table>
</div>
