<div class="page-header">
  <h1><%= club.escape('club_name') %> <small>Leader: <%= club.escape('leader') %></small></h1>
</div>
<div class="row">
  <div id="club_streams" class="col-xs-9">
  </div>

  <div class="col-xs-3 list-group">
    <h4>Member Roster <button id="new-member-button" data-toggle="modal" data-target="#new-member-modal" class="btn btn-primary">Add Member</button></h4>
    <% club.members().each(function (member) { %>
      <a class="list-group-item" href="/#users/<%= member.id %>"><%= member.escape('first_name') %>, <%= member.escape('membership_type')%></a>
    <% }); %>
  </div>
</div>

<!-- New Member Modal -->

<div id="new-member-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= club.escape('club_name')%></h4>
      </div>
      <div id="new-member-modal-body" class="modal-body">
        <form id="new-member-form">
          <div class="form-group">
            <label for="content">Kids not currently in this club</label>
            <br/>
            <% remainders.each( function (remainder) { %>
              <div class="checkbox">
                <label for="member_id<%= remainder.id %>"><%= remainder.get('first_name') %></label>
                <input name="members[]" id="member_id<%= remainder.id   %>" value="<%= remainder.id %>" type="checkbox">
              </div>
            <% }) %>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="new-member-submit" class="btn btn-primary">Add Kids</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->