<h2><%= user.get('first_name') %>'s Page</h2>
<p><em><%= user.get('city') || "Somewhere" %>, <%= user.get('state') || "Out there" %> &sdot; <%= age || "Ageless"%></em></p>

<h2><a id="booksLink" href="#"><%= user.get('first_name') %>'s Books</a></h2>
<div id="books"></div>

<h2><a id="clubsLink" href="#"><%= user.get('first_name') %>'s Clubs</a></h2>
<div id="clubs"></div>

<% if(user.get('id') === KR.currentUserID) { %>
  <h2>My Kids</h2>
  <ul id="kids"></ul>
<% } %>