<h3>Activity Stream</h3>
<div class="row">
  <div class="col-xs-8">
    <ul id="streams_list" class="list-group">
      <% streams.each( function (stream) { %>
        <li class="list-group-item">
          <img style="height:auto; width:auto; max-width:80px; max-height:80px;" class="stream-image" src="<%= stream.get('image_url') %>" />
          <% if (stream.get('user_id') == KR.currentUserID) { %>
            You 
          <% } else { %>
          <%= stream.get('first_name') %> <%= stream.get('last_name') %> 
          <% } %>
          <%= stream.get('activity_verb') %> 
          <a href="<%= stream.get('url') %>"><%= stream.get('activity_object') %> <%= stream.get('club_name') %></a>
        </li>
      <% }) %>
    </ul>
  </div>
</div>
<br/>
