<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to KidReads!</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "//netdna.bootstrapcdn.com/bootswatch/3.0.3/amelia/bootstrap.min.css" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% currentRole = current_user.user_type.label if current_user %>
    <% currentUserID = current_user ? current_user.id : "null" %>
    <script>$(function () { 
        KR.libraryKey="<%= ENV['LIBRARY_KEY'] %>";
        KR.currentUserID=<%= currentUserID %>;
        KR.currentRole="<%= currentRole %>";
        KR.initialize();
      }); 
    </script>
  </head>

  <body>
    <div class="container">
      <% if current_user && current_user.email == "kidreadsdotorg@gmail.com" %>
        <div class="alert alert-info">
          <big>Like what you see?  <a href="/users/new">Create your own account.</a></big>
        </div>
      <% end %>

      <div id="header"></div>

      <%= yield %>

    </div>
  </body>
</html>
