<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to KidReads!</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <% currentRole = current_user.user_type.label if current_user %>
    <% currentUserID = current_user ? current_user.id : "null" %>
    <script>$(function () { 
        KR.libraryKey="<%= ENV['LIBRARY_KEY'] %>";
        KR.currentUserID=<%= currentUserID %>;
        KR.currentRole="<%= currentRole %>";
        KR.initialize();
      }); 
    </script>
  </head>
  <body>

  <div class="container">
    <div id="header"></div>

     <%= yield %>

    <% if current_user %>

      <div align="right">
        <p>You are: <%= current_user.username %> <%= button_to "Logout", session_url, :method => :delete %></p>
      </div>

      <div id="footer">
      </div>
    <% end %>
  </div>
  </body>
</html>
